{% extends "layout.html.jinja" %}
{% block title %}Registration{% endblock %}

{% block content %}
  <h1>WorkTracker</h1>
  <h2>Registration</h2>
  <form method="POST">
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="submit" value="Register">
  </form>

  <a href="{{ url_for('index') }}">Back</a>
{% endblock %}